@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.font-christmas {
  font-family: 'Mountains of Christmas', cursive;
}

.christmas-card-shadow {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
              0 2px 4px -1px rgba(0, 0, 0, 0.06),
              0 0 0 3px rgba(255, 255, 255, 0.1);
}

img {
  max-width: auto !important;
}